<div class="app">
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="navbar-left">
        <a (click)="back()"><i class="bi bi-arrow-left-circle-fill" [class.hidden]="!router.url.startsWith('/details')"></i></a>
        <a class="navbar-brand" href="">
          myFilms
        </a>
        <button *ngIf="user?.role === 'ADMIN' && router.url ==='/'" class="btn btn-success add-film" [routerLink]="'add-film'">+ Dodaj Film</button>
      </div>
      <ng-container *ngIf="!user; else accountSection">
        <button class="btn btn-light" [routerLink]="['/', { outlets: {'modal':['login']}}]">Zaloguj się</button>
      </ng-container>
      <ng-template #accountSection>
        <div>
          <span class="user">
            {{user?.name}}
            {{user?.surname}}
            <span *ngIf="user?.role === 'ADMIN'" class="badge bg-danger admin">Administrator</span>
          </span>
        <button class="btn btn-light" (click)="signOut()">Wyloguj się</button>
        </div>
      </ng-template>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <router-outlet name="modal"></router-outlet>
  <footer class="card-footer text-muted text-center">Piotr Litwin - ZTI myFilms @2021</footer>
</div>
